#title1 { 
	
}

#title2 {
	

} 

#title3 { 
	
	
} 

#first_p1{
	
}

#first_p1 > img{
	height: 350px;
	width:  600px;
	float: left;
}

#first_p2{
		
}

#first_p2 > img{
	height: 350px;
	width:  600px;
	float: left;
}

#first_p3{

}

#first_p3 > img{
	height: 350px;
	width:  350px;
	float: left;

}


#second_p1{
	
}

#second_p2{
	
}

#second_p3{

}


